.App {
    margin: 100px 0 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 10px auto;
    border: 1px solid green;
    box-sizing: border-box;
}

.header,
.search {
    height: 60px;
}

.add-course-wrapper {
    justify-content: flex-end;
    padding: 15px;
}

.account-group span {
    margin-right: 25px;
}

.main {
    width: 70%;
}

.details {
    width: 25%;
}

.details--authors {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-wrapper {
    padding: 15px;
}

.create-course {
    flex-direction: column;
    align-items: flex-start;
}

.create-course__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.create-course__title .details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-course__description,
.create-course__description textarea {
    width: 100%;
}

.create-author form * {
    display: block;
    margin-bottom: 10px;
}

.author-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-wrapper form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.author-wrapper p {
    margin: 5px 0;
}
